body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    
}

img {
    margin-bottom: 90px;
}

a { 
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: rgb(244, 199, 85);
}

a:hover {
    background-color: rgb(244, 199, 85);
    color: white;
    border: 2px solid black;
}