@media (min-width:360px) and (max-width: 960px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    img {
        width: 200px;
        height: 200px;
    }

    a { 
        border: 2px solid black;
        padding: 10px;
        text-decoration: none;
        color: black;
        background-color: rgb(244, 199, 85);
    }

    a:hover {
        background-color: rgb(244, 199, 85);
        color: white;
        border: 2px solid black;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    Sp {
        font-size: 20px;
        font-weight: bold;
    }
}