@media (min-width:300px) and (max-width: 960px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        padding: 0px;
        margin-top: 100px;
    }

    a { 
        border: 2px solid black;
        padding: 10px;
        text-decoration: none;
        color: black;
        background-color: rgb(244, 199, 85);
        width: 200px;
        text-align: center;
    }
}

