@media (min-width:380px) and (max-width:768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border: 2px solid #000000;
        height: 250px;
        width: 400px;
        background-color: rgb(230, 200, 103);
        margin-top: 50%;
    }
    
    h1 {
        background-color: rgb(235, 226, 219);
        border: 1px solid #000000;
        width: 250px;
        text-align: center;
        border-radius: 50px;
    }

    input[type="text"], input[type="password"] {
        width: 250px;
        height: 30px;
        border: 1px solid #000000;
        border-radius: 5px;
    }

    button {
        width: 100px;
        height: 30px;
        border: 1px solid #000000;
        border-radius: 5px;
        background-color: rgb(255, 230, 3);
    }
}